.weather {
  font:14px/1.5 '微軟正黑體', sans-serif ;
  }
.search1 {
  text-align: right;
  margin: 10px;
  font:12px/1 Arial, sans-serif ;
}

.search2{
  text-align: right;
  font:12px/1 '微軟正黑體', sans-serif;
}
.nav li{
  font: 17px/1 '微軟正黑體';
}

.subnav li{
  font: 10px/1 Arial, sans-serif;
}
.nav ul{
  list-style-type: none;
}
.nav>li{
  display: inline-block;
  position: relative;

  border: 1px;
  border-right: 0;
  padding: .5em 1em;
}
.nav>li:last-child{
  border-right: 1px solid green;
}

.submenu{
  position: absolute;
  display: none;

  left: -1px; top: 100%; width: 100%;
  text-align: center;
  background: transparent;
  border: 1px;
}

.nav>li:hover .submenu{
  display: inline-block;
}
.nav>li:hover {
  color:FFFFFF;
  background:FF9900;
}
.submenu li{
  padding: .5em 0;
  color: black;
  font-size: 12px;
  cursor: pointer;
}
.submenu li:hover{
  color: white;
}

.back{
  text-align: right;
  background-color:FF6600;
  font:white;
  padding:1px;
}
.tips{
  font-size:13px;
  }
.firstone tr:nth-child(1), .lastone tr:nth-child(1) {
  background: FFCC33;
  border-width:3px;
  border-top-style:double; border-bottom-style:solid; 
  border-bottom-color:FF6600;
  border-top-color:FF6600;
  font-weight:900;
}
.firstone tr.number{
font-color: red;
}
.rightmenu ul{
  list-style-type: none;
  position: absolute; 
  top:20px; 
  right:50px;
}

div .inline-block{
  background:99FFFF;
  width: 15em;
  padding: 1em 1em 2em 1em;
 }

div .card {
  font:5px/1 Arial;
  color:999999;
}  


}