@charset "UTF-8";
  /*以下失靈*/
.search1 grid_12{
  width:00px;
  margin-top:1em;
  float:right;
}
.search2{
  float:right;
}
.nav{
  float:center;
}

.nav>li{
  display: inline-block;
  position: relative;

  border: 1px;
  border-right: 0;
  padding: .5em 1em;
}
.nav>li:last-child{
  border-right: 1px solid green;
}

.submenu{
  position: absolute;
  display: none;

  left: -1px; top: 100%; width: 100%;
  text-align: center;
  background: transparent;
  border: 1px;
}

.nav>li:hover .submenu{
  display: block;
}
.nav>li:hover {
  color:FFFFFF;
  background:FF9900;
}
.submenu li{
  padding: .5em 0;
  color: black;
  cursor: pointer;
}
.submenu li:hover{
  color: white;